*{margin: 0; padding: 0;}
#wrap{width: 1000px; height: 650px; margin: 0 auto;}
.clearfix::after, .clearfix::before{
    display: block;
    content: "";
    clear: both;
}

#header{
    float: left;
    width: 200px;
    height: 650px;
}
.logo{
    height: 130px;
    background: #999;
}
.nav{
    height: 520px;
    background: #888;
}

#right{
    float: left;
    width: 800px;
    height: 650px;
}
#slider{
    background: #777;
    height: 350px;
    width: 800px;
}

#contents>div{
    float: left;
    width: 33.3333%;
    height: 200px;
}
.cont1{background: #666;}
.cont2{background: #555;}
.cont3{background: #444;}

footer>div{float: left;}
.foot1{background: #333; width: 160px; height: 100px;}
.foot2{background: #222; width: 640px; height: 50px;}
.foot3{background: #111; width: 640px; height: 50px;}