#wrap{width: 1200px; margin: 0 auto;}

#banner{width: 1200px; height: 300px; overflow: hidden;}
.slideList{position: relative; width: 1200px; height: 900px;}
.slideList .slideImg{position: relative;}
.slideList .slideImg h2{position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);
padding: 10px; border-radius: 25px; background: rgba(1,1,1,0.5);}
.slideList .slideImg img{display: block;}

#banner1{margin-top: 20px; width: 1200px; height: 300px; overflow: hidden;}
.slideList1{position: relative; width: 3600px; height: 300px;}
.slideList1 .slideImg1{position: relative; float: left;}
.slideList1 .slideImg1 h2{position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);
padding: 10px; border-radius: 25px; background: rgba(1,1,1,0.5);}

#banner2{margin-top: 20px; width: 1200px; height: 300px; overflow: hidden;}
.slideList2{position: relative; width: 3600px; height: 300px;}
.slideList2 .slideImg2{position: relative; float: left;}
.slideList2 .slideImg2 h2{position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);
padding: 10px; border-radius: 25px; background: rgba(1,1,1,0.5);}





