/* reset */
*{margin: 0; padding: 0;}
a{color: black ; text-decoration: none; font-size: 16px;}
li{list-style: none;}
.clearfix::after, .clearfix::before{content: ""; display: block; clear: both;}
#wrap{width: 1000px; margin: 0 auto; background: #555;}

/* header */
#header h1{float: left; padding: 15px 0 10px 0;}
#header .nav{float: right; width: 700px; margin-top: 15px; background: #999; text-align: center;}
#header .nav li{float: left; width: 20%; position: relative;}
#header .nav li a{display: block; padding: 5px;}
#header .nav li a:hover{background: #888;}
#header .nav li ul.submenu{position: absolute; left: 0; background: #777; display: none; z-index: 100;}
#header .nav li ul.submenu li{width: 100%; float: left;}

/* banner */
#banner{height: 360px; overflow: hidden;}
.slideList .slideImg img{display: block;}
.slideList{position: relative; width: 1200px; height: 360px;}
.slideList .slideImg{position: relative;}
.slideList .slideImg h2{position: absolute; top: 40%; left: 39%; padding: 10px;
border-radius: 20px; background: rgba(0,0,0,0.5);}


/* content1 */
#content1{margin-top: 20px;}
#content1 .left{float: left; width: 49%; padding: 20px; background: #f2f2f2; box-sizing: border-box; margin-right: 2%; position: relative;}
#content1 .left h2{font-style: 20px; padding-bottom: 5px;}
#content1 .left p{font-size: 14px; color: #666; padding-bottom: 15px;}
#content1 .left img{position: absolute; right: 10px; bottom: 10px;}
#content1 .right{float: left; width: 49%; padding: 20px; background: #f2f2f2; box-sizing: border-box; margin-right: 0; position: relative;}
#content1 .right h2{font-style: 20px; padding-bottom: 5px;}
#content1 .right p{font-size: 14px; color: #666; padding-bottom: 15px;}
#content1 .right img{position: absolute; right: 10px; bottom: 10px;}

/* content2 */
#content2{margin-top: 30px; text-align: center;}
#content2 h2{font-size: 24px;}
#content2 .best figure{float: left; width: 32%; margin-right: 2%;}
#content2 .best figure:last-child{margin-right: 0;}

.tab-menu .tab-btn ul{overflow: hidden;}
.tab-menu .tab-btn li{float: left; margin-right: 10px;}
.tab-menu .tab-btn li a{font-size: 24px; padding-bottom: 15px; color: #999;}
.tab-menu .tab-btn li.active a{color: #000;}

/* footer */
#footer{color: rgb(146, 146, 146); background: black; display: block; padding: 20px 10px; margin-top: 20px;}
#footer h2{float: left;}
#footer .foot{float: right;}
#footer .foot ul{margin-bottom: 20px;}
#footer .foot ul li{display: inline-block; margin-right: 20px;}
#footer .foot ul li a{color: white;}
#footer .foot address{font-style: normal;}

/* 레이어 팝업 */
.layout-Popup{position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);
background: white; border: 1px solid black; z-index: 300; height: 500px; width: 500px;}
.layout-Popup a{position: absolute; bottom: 10px; right: 10px; font-weight: bold; font-size: 20px;}
.layout-bg{height: 100%; width: 100%; position: absolute; top: 0; left: 0; z-index: 200; background: rgba(0,0,0,0.5);}
