*{margin: 0; padding: 0;}
.clearfix::after,.clearfix::before{content: ""; clear: both; display: block;}
#wrap{width: 1200px; margin: 0 auto; text-align: center;}

#aside{float: left; width: 300px;}
#aside #logo{width: 300px; height: 200px; background: #999;}
#aside #nav{width: 300px; height: 700px; background: #888;}

#article{float: left; width: 900px;}
#article #slider{width: 900px; height: 450px; background: #777;}

#contents div{float: left; width: 33.333%; height: 350px;}
#contents .cont1{background: #666;}
#contents .cont2{background: #555;}
#contents .cont3{background: #444;}

#footer .foot1{float: left; width: 200px; height: 100px; background: #333;}
#footer .foot2{float: left; width: 700px; height: 50px; background: #222;}
#footer .foot3{float: left; width: 700px; height: 50px; background: #999;}


