*{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none; color: black;}
.clearfix::after, .clearfix::before{display: block; content: ""; clear: both;}
#wrap{width: 1200px; margin: 0 auto; text-align: center;}

#header{background: orange;}
#header .logo{float: left; width: 300px; height: 100px; background: #999;}
#header .nav {float: right; width: 600px; margin-top: 33px; background: #888;}

#header .nav li{width: 25%; float: left; position: relative; font-weight: bold;}
#header .nav li a{display: block; padding: 6px 5px;}
#header .nav li a:hover{background: chocolate;}
#header .nav ul.submenu{position: absolute; left: 0; background: darkgoldenrod; display: none;}
#header .nav ul.submenu li{width: 100%; font-weight: normal;}


#banner{width: 1200px; height: 300px; background: #777;}

#contents .cont1{float: left; width: 400px; height: 200px; background: #666;}
#contents .cont2{float: left; width: 400px; height: 200px; background: #555;}
#contents .cont3{float: left; width: 400px; height: 200px; background: #444;}

#footer .foot1{float: left; height: 100px; width: 200px; background: #333;}
#footer .foot2{float: left; height: 100px; width: 800px; background: #222;}
#footer .foot3{float: left; height: 100px; width: 200px; background: #111;}